<section>
        <div class="list-s1">
            <div class="container" style="height: auto">
                <div class="title">
                    <h3>Your Favorite Food</h3>
                    <h4>CHOOSE YOUR FOOD</h4>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-xl-4">
                            <div class="list-s1IMG">
                                <img src="assets/images/resource/popular-dish-img2.jpg">
                            </div>
                            <div class="list-1Info">
                                <h4 class="foodName">Canh Sup</h4>
                                <p>Canh sup rat ngon</p>
                                <span>1000$</span>
                                <a href="#"><button class="btn-dark">ORDER NOW</button></a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-xl-4">
                            <div class="list-s1IMG">
                                <img src="assets/images/resource/popular-dish-img1.jpg">
                            </div>
                            <div class="list-1Info">
                                <h4 class="foodName">Cookie</h4>
                                <p>So cute</p>
                                <span>1000$</span>
                                <a href="#"><button class="btn-dark">ORDER NOW</button></a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-xl-4">
                            <div class="list-s1IMG">
                                <img src="assets/images/resource/popular-dish-img3.jpg">
                            </div>
                            <div class="list-1Info">
                                <h4 class="foodName">Steak</h4>
                                <p>Dilicious</p>
                                <span>1000$</span>
                                <a href="#"><button class="btn-dark">ORDER NOW</button></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>