.dropdown:hover>.dropdown-menu{
    display: block;
}

header a{
    
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
.dropdown:hover a{
 color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(72, 72, 175, 0.76), 0 0 5px yellow;
}
.dropdown-menu a:hover{
    color:rgba(171, 1, 223, 0.7); 
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(171, 1, 223, 0.7), 0 0 5px yellow;

}
     /* hover dropdown menuHeader  */

#menuHeader{
   background-color: white;
    padding-bottom: 1%;
    max-width: 100%;

}
header{
    /* position: fixed; */
    z-index: 100000000000000;
    width: 100%;

}
.col{
    text-align: center;
}

.mb-5{
    margin-bottom: 0 !important;
}
/* menuHeader */
