<article class="container" id="blog">
        <article class="row">
            <article class="col-sm-6 col-mb-6 col-lg-6">
                <img class="img-blog" src="assets/images/resource/news-img2-2.jpg">
            </article>
            <article class="col-sm-6 col-mb-6 col-lg-6">
                <h1>Tiêu đề blog</h1>
                <p>
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                </p>
            </article>
            <article class="col-sm-6 col-mb-6 col-lg-6">
                <h1>Tiêu đề blog</h1>
                <p>
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                    Click on the element below to open the side navigation menu, and push this content to the
                    right.
                    Notice that we add a black see-through background-color to body when the sidenav is opened.
                </p>
            </article>
            <article class="col-sm-6 col-mb-6 col-lg-6">
                <img class="img-blog" src="assets/images/resource/news-img2-2.jpg">
            </article>

        </article>
    </article>
