    <section id="pricing">
        <div class="container" >
            <div class="title-pricing">
                <h3>Your Favorite Food</h3>
                <h6>CHOOSE YOUR FOOD</h6>
            </div>
            <div class="row" id="list-pricing">
                <div class="col-ms-4 col-md4 col-lg-4" class="list-pricing-item">
                    <div class="img-pricing">
                        <img src="assets/images/resource/popular-dish-img1.jpg" >
                    </div>
                    <div class="info-pricing">
                        <h4>ABC Bakery</h4>
                        <p>aaaaaaaaaaaaaaaaaaaa</p>
                        <button class="btn badge-primary">50$</button>
                    </div>
                </div>
                <div class="col-ms-4 col-md4 col-lg-4" class="list-pricing-item">
                    <div class="img-pricing">
                        <img src="assets/images/resource/popular-dish-img1.jpg">
                    </div>
                    <div class="info-pricing">
                        <h4>ABC Bakery</h4>
                        <p>aaaaaaaaaaaaaaaaaaaa</p>   
                        <button class="btn">50$</button>
    
                    </div>
    
                </div>
                <div class="col-ms-4 col-md4 col-lg-4" class="list-pricing-item">
                    <div class="img-pricing">
                        <img src="assets/images/resource/popular-dish-img1.jpg">
                    </div>
                    <div class="info-pricing">
                        <h4>ABC Bakery</h4>
                        <p>aaaaaaaaaaaaaaaaaaaa</p>
                        <button class="btn badge-primary">50$</button>
                    </div>
                </div>
            </div>
        </div>
    </section>