<footer style="background-color: rgb(224, 241, 147)">
  <!-- Footer Elements -->
  <div class="container">
      <!--Grid row-->
      <div class="row" style="padding-top: 2%">
          <!--Grid column-->
          <div class="col-lg-2 col-md-12 mb-4">
              <!--Image-->
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                      class="img-fluid" alt="">
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">
              <!--Image-->
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg"
                      class="img-fluid" alt="">
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg"
                      class="img-fluid" alt="">
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-2 col-md-12 mb-4">
              <!--Image-->
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg"
                      class="img-fluid" alt="">
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">
              <!--Image-->
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg"
                      class="img-fluid" alt="">
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">
              <!--Image-->
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg"
                      class="img-fluid" alt="">
                  <a href="">
                      <div class="mask rgba-white-light"></div>
                  </a>
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>